<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="../../content/themes/default/vendor/vendor.min.css" rel="stylesheet">
    <link href="../../content/themes/default/site/css/app.min.css" rel="stylesheet">
    <title>Green Technology</title>
</head>
<body>
<header>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="social-left">
                        <li><a href="javascript:void(0)" class="fab fa-facebook-f"></a></li>
                        <li><a href="javascript:void(0)" class="fab fa-twitter"></a></li>
                        <li><a href="javascript:void(0)" class="fab fa-pinterest-p"></a></li>
                        <li><a href="javascript:void(0)" class="fab fa-linkedin-in"></a></li>
                        <li><a href="javascript:void(0)" class="fab fa-google-plus-g"></a></li>
                    </ul>
                    <ul class="contact-rigth">
                        <li><a href="tel:0123456789"><span class="fas fa-phone"></span><span>0123456789 / 9012345678</span></a></li>
                        <li><a href="mailto:contact@greenstechnologys.com"><span class="fas fa-envelope"></span><span>contact@greenstechnologys.com</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="botom-menu">
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav class="navbar mynavbar navbar-expand-lg">
                        <div class="navbar-header">
                            <div class="logo">
                                <img src="../../content/themes/default/site/images/logo.png" alt="green technology"/>
                            </div>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse show" id="navbarNavDropdown">
                        <ul class="nav navbar-nav ritsec sm">
                            <li class="menuli"><a class="nav-link dropdown-toggle" href="#">Training Courses</a>
                                <ul class="dropdown-menu multimenu sm-nowrap">
                                    <li><a class="levelmenu" href="#">Action</a></li>
                                    <li><a class="levelmenu" href="#">Another action</a></li>
                                    <li><a class="levelmenu" href="#">Something else here</a></li>
                                    <li class="dropdown-submenu"><a class="dropdown-item levelmenu dropdown-toggle" href="#">A sub menu</a>
                                    <ul class="dropdown-menu multimenu sm-nowrap">
                                        <li><a class="levelmenu" href="#">Action</a></li>
                                        <li><a class="levelmenu" href="#">Another action</a></li>
                                        <li><a class="levelmenu" href="#">Something else here</a></li>
                                    </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuli"><a class="nav-link dropdown-toggle" href="#">Company</a>
                                <ul class="dropdown-menu multimenu sm-nowrap">
                                    <li><a class="levelmenu" href="#">Action</a></li>
                                    <li><a class="levelmenu" href="#">Another action</a></li>
                                    <li><a class="levelmenu" href="#">Something else here</a></li>
                                    <li class="dropdown-submenu"><a class="dropdown-item levelmenu dropdown-toggle" href="#">A sub menu</a>
                                    <ul class="dropdown-menu multimenu sm-nowrap">
                                        <li><a class="levelmenu" href="#">Action</a></li>
                                        <li><a class="levelmenu" href="#">Another action</a></li>
                                        <li><a class="levelmenu" href="#">Something else here</a></li>
                                    </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuli"><a class="nav-link dropdown-toggle" href="#">Branches</a>
                                <ul class="dropdown-menu multimenu sm-nowrap">
                                    <li><a class="levelmenu" href="#">Action</a></li>
                                    <li><a class="levelmenu" href="#">Another action</a></li>
                                    <li><a class="levelmenu" href="#">Something else here</a></li>
                                    <li class="dropdown-submenu"><a class="dropdown-item levelmenu dropdown-toggle" href="#">A sub menu</a>
                                    <ul class="dropdown-menu multimenu sm-nowrap">
                                        <li><a class="levelmenu" href="#">Action</a></li>
                                        <li><a class="levelmenu" href="#">Another action</a></li>
                                        <li><a class="levelmenu" href="#">Something else here</a></li>
                                    </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuli"><a class="nav-link dropdown-toggle" href="#">Students Zone</a>
                                <ul class="dropdown-menu multimenu sm-nowrap">
                                    <li><a class="levelmenu" href="#">Action</a></li>
                                    <li><a class="levelmenu" href="#">Another action</a></li>
                                    <li><a class="levelmenu" href="#">Something else here</a></li>
                                    <li class="dropdown-submenu"><a class="dropdown-item levelmenu dropdown-toggle" href="#">A sub menu</a>
                                    <ul class="dropdown-menu multimenu sm-nowrap">
                                        <li><a class="levelmenu" href="#">Action</a></li>
                                        <li><a class="levelmenu" href="#">Another action</a></li>
                                        <li><a class="levelmenu" href="#">Something else here</a></li>
                                    </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuli menulixl root"><a class="nav-link" href="#">Blog</a></li>
                            <li class="menuli menulixl root"><a class="nav-link" href="#">Contact Us</a></li>
                        </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="banner-section">
<div class="container">
    <div class="centertexts">
        <div class="bigtext wow bounceInRight" data-wow-delay="0.25s" id="big1"></div>
      </div>
      <div class="search-form">
        <div class="input-search">
            <input type="text" placeholder="Type Keyword or search course"/>
            <button>Search</button>
        </div>
      </div>
      <div class="why-part wow bounceInUp" data-wow-delay="0.25s">
        <div class="row">
            <div class="col-md-4">
                <div class="whyback">
                    <div class="whyimg leader"></div>
                    <div class="why-text">Best Industry Leaders</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="whyback">
                    <div class="whyimg book"></div>
                    <div class="why-text">Learn Courses Online</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="whyback">
                    <div class="whyimg store"></div>
                    <div class="why-text">Book Library & Store</div>
                </div>
            </div>
        </div>
      </div>
</div>
</section>
<section class="popular-section">
    <div class="container">
        <div class="row">
            <div class="col">
            <div class="popular-courses wow bounceInUp" data-wow-delay="0.25s">
                <h5 class="text-center">Popular Courses</h5>
                <div class="outerbox">
                <div class="owl-carousel" id="popularcourse">
                    <div class="item">
                        <a href="#">
                            <div class="training-icon rounded-circle dot-net"></div>
                            <div class="training-card">
                                <p class="title text-center">Dot Net Training</p>
                                <div class="training-desc">
                                    Greens Technologys provides Dot Net Training in Chennai. We train students
                                    from basic to advanced concepts, within a real-time project. 
                                    Learn how to use Amazon Web Services                            
                                </div>
                                <div class="ratings d-flex">
                                    <div class="user-registered col-6">
                                        <i class="fas fa-user"></i> <span class="count">99</span>
                                    </div>
                                    <div class="user-ratings col-6">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <div class="view-course">
                                    View Course
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="#">
                            <div class="training-icon rounded-circle android"></div>
                            <div class="training-card">
                                <p class="title text-center">Android Training</p>                           
                                <div class="training-desc">
                                    Greens Technologys provides AWS Training in Chennai. We train students
                                    from basic to advanced concepts, within a real-time project. 
                                    Learn how to use Amazon Web Services                            
                                </div>
                                <div class="ratings d-flex">
                                    <div class="user-registered col-6">
                                        <i class="fas fa-user"></i> <span class="count">49</span>
                                    </div>
                                    <div class="user-ratings col-6">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <div class="view-course">
                                    View Course
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="#">
                            <div class="training-icon rounded-circle angular"></div>
                            <div class="training-card">
                                <p class="title text-center">Angular Training</p>
                                <div class="training-desc">
                                    Greens Technologys provides AWS Training in Chennai. We train students
                                    from basic to advanced concepts, within a real-time project. 
                                    Learn how to use Amazon Web Services                            
                                </div>
                                <div class="ratings d-flex">
                                    <div class="user-registered col-6">
                                        <i class="fas fa-user"></i> <span class="count">45</span>
                                    </div>
                                    <div class="user-ratings col-6">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <div class="view-course">
                                    View Course
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="#">
                            <div class="training-icon rounded-circle ios"></div>
                            <div class="training-card">
                                <p class="title text-center">AWS Training</p>
                                <div class="training-desc">
                                    Greens Technologys provides AWS Training in Chennai. We train students
                                    from basic to advanced concepts, within a real-time project. 
                                    Learn how to use Amazon Web Services                            
                                </div>
                                <div class="ratings d-flex">
                                    <div class="user-registered col-6">
                                        <i class="fas fa-user"></i> <span class="count">20</span>
                                    </div>
                                    <div class="user-ratings col-6">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <div class="view-course">
                                    View Course
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="training-icon rounded-circle ios"></div>
                            <div class="training-card">
                                <p class="title text-center">IOS Training</p>
                                <div class="training-desc">
                                    Greens Technologys provides AWS Training in Chennai. We train students
                                    from basic to advanced concepts, within a real-time project. 
                                    Learn how to use Amazon Web Services                            
                                </div>
                                <div class="ratings d-flex">
                                    <div class="user-registered col-6">
                                        <i class="fas fa-user"></i> <span class="count">20</span>
                                    </div>
                                    <div class="user-ratings col-6">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <div class="view-course">
                                    View Course
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>

    </div>
</section>
<section>
    <div class="center-achievements">
        <div class="container">
            <div class="row">
            <div class="col">
                <h5 class="text-center">Center Achievements</h5>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="achievements-item">
                            <div class="enroll-img students wow bounceInLeft" data-wow-delay="0.25s"></div>
                            <p class="center-growth wow bounceInRight" data-wow-delay="0.25s">120K+</p>
                            <p class="details wow bounceInRight" data-wow-delay="0.25s">Students Enrolled</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="achievements-item">
                            <div class="enroll-img branches wow bounceInLeft" data-wow-delay="0.25s"></div>
                            <p class="center-growth wow bounceInRight" data-wow-delay="0.25s">10+</p>
                            <p class="details wow bounceInRight" data-wow-delay="0.25s">Branches</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="achievements-item">
                            <div class="enroll-img placed wow bounceInLeft" data-wow-delay="0.25s"></div>
                            <p class="center-growth wow bounceInRight" data-wow-delay="0.25s">1200+</p>
                            <p class="details wow bounceInRight" data-wow-delay="0.25s">Placed Students</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="achievements-item">
                            <div class="enroll-img successful wow bounceInLeft" data-wow-delay="0.25s"></div>
                            <p class="center-growth wow bounceInRight" data-wow-delay="0.25s">12+</p>
                            <p class="details wow bounceInRight" data-wow-delay="0.25s">Successful Years</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="training-request">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="request-content wow bounceInRight" data-wow-delay="0.25s">
                        <h1>Limitless Learning, </br>More Possiblities</h1>
                        <p>Being the leader in IT Software Training sector Greens Technologys 
                        holds the best and inevitable place in short time. To manage a company 
                        is a social process that processes consist of planning, control, 
                        co-ordination and motivation. Based on this our Greens Technologys 
                        Chennai & Greens Technologys Bangalore is a well-planned one.</p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="request-form wow bounceInUp" data-wow-delay="0.25s">
                    <div class="requstinner">
                    <h5>Request for Class Room & <br/>Online Training <br/>Quotation</h5>

                        <form>
                            <div class="form-group">                         
                            <input type="text" class="form-control" placeholder="Enter Your Name" 
                            aria-describedby="Username">
                            </div>

                            <div class="form-group">                          
                            <input type="email" class="form-control" placeholder="Enter Your Email">
                            </div>

                            <div class="form-group">                          
                                <input type="text" class="form-control" placeholder="Enter Your Mobile No.">
                            </div>

                            <div class="form-group">
                                <select class="form-control">
                                    <option>Select Course</option>
                                    <option>Amazon Web Services(AWS)</option>
                                    <option>Android</option>
                                    <option>Angular JS</option>
                                    <option>React JS</option>
                                    <option>Vue JS</option>
                                </select>
                            </div>
                        
                            <div class="col text-center">
                                <button type="submit" class="btn quote-btn">Get Quotes</button>
                            </div>                        
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="popular-section master-program">
    <div class="container">
        <div class="row">
            <div class="col">
            <div class="popular-courses wow bounceInUp" data-wow-delay="0.25s">
                <h5 class="text-center">Popular Courses</h5>
                <div class="outerbox">
                <div class="owl-carousel" id="masterprogram">
                    <div class="item">
                        <a href="#">
                            <div class="training-icon rounded-circle dot-net"></div>
                            <div class="training-card">
                                <p class="title text-center">Dot Net Training</p>
                                <div class="training-desc">
                                    Greens Technologys provides Dot Net Training in Chennai. We train students
                                    from basic to advanced concepts, within a real-time project. 
                                    Learn how to use Amazon Web Services                            
                                </div>
                                <div class="ratings d-flex">
                                    <div class="user-registered col-6">
                                        <i class="fas fa-user"></i> <span class="count">99</span>
                                    </div>
                                    <div class="user-ratings col-6">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <div class="view-course">
                                    View Course
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="#">
                            <div class="training-icon rounded-circle android"></div>
                            <div class="training-card">
                                <p class="title text-center">Android Training</p>                           
                                <div class="training-desc">
                                    Greens Technologys provides AWS Training in Chennai. We train students
                                    from basic to advanced concepts, within a real-time project. 
                                    Learn how to use Amazon Web Services                            
                                </div>
                                <div class="ratings d-flex">
                                    <div class="user-registered col-6">
                                        <i class="fas fa-user"></i> <span class="count">49</span>
                                    </div>
                                    <div class="user-ratings col-6">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <div class="view-course">
                                    View Course
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="#">
                            <div class="training-icon rounded-circle angular"></div>
                            <div class="training-card">
                                <p class="title text-center">Angular Training</p>
                                <div class="training-desc">
                                    Greens Technologys provides AWS Training in Chennai. We train students
                                    from basic to advanced concepts, within a real-time project. 
                                    Learn how to use Amazon Web Services                            
                                </div>
                                <div class="ratings d-flex">
                                    <div class="user-registered col-6">
                                        <i class="fas fa-user"></i> <span class="count">45</span>
                                    </div>
                                    <div class="user-ratings col-6">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <div class="view-course">
                                    View Course
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="#">
                            <div class="training-icon rounded-circle ios"></div>
                            <div class="training-card">
                                <p class="title text-center">AWS Training</p>
                                <div class="training-desc">
                                    Greens Technologys provides AWS Training in Chennai. We train students
                                    from basic to advanced concepts, within a real-time project. 
                                    Learn how to use Amazon Web Services                            
                                </div>
                                <div class="ratings d-flex">
                                    <div class="user-registered col-6">
                                        <i class="fas fa-user"></i> <span class="count">20</span>
                                    </div>
                                    <div class="user-ratings col-6">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <div class="view-course">
                                    View Course
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="training-icon rounded-circle ios"></div>
                            <div class="training-card">
                                <p class="title text-center">IOS Training</p>
                                <div class="training-desc">
                                    Greens Technologys provides AWS Training in Chennai. We train students
                                    from basic to advanced concepts, within a real-time project. 
                                    Learn how to use Amazon Web Services                            
                                </div>
                                <div class="ratings d-flex">
                                    <div class="user-registered col-6">
                                        <i class="fas fa-user"></i> <span class="count">20</span>
                                    </div>
                                    <div class="user-ratings col-6">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <div class="view-course">
                                    View Course
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>

    </div>
</section>

<section class="category-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="text-center">Top Categories</h6>

                <div class="top-categories text-center">
                    <a href="#">Master Program</a>
                    <a href="#">Data warehouse training in Chennai</a>
                    <a href="#">Database developer training in Chennai</a>
                    <a href="#">DBA training</a>
                    <a href="#">Web Designing training</a>
                    <a href="#">Digital Marketing training in Chennai</a>
                    <a href="#">Java training in Chennai</a>
                    <a href="#">Software Testing training in Chennai</a>
                    <a href="#">Mobile Applications training</a>
                    <a href="#">Artificial Intelligence and R training</a>
                    <a href="#">Data Science training in Chennai</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="short-desc-with-logo">
                    <img src="../../content/themes/default/site/images/logo-footer.png">
                    <p>Greens Technologys is one of the leading IT and software related 
                        course Training providers which establishes the correct standard of 
                        performance. It is taking corrective actions which are appropriately 
                        needed to the trainees..
                    </p>
                    <p class="center-contact"><i class="fas fa-phone"></i> +91 89399 15577</p>
                    <p class="mail-info"><i class="fas fa-envelope"></i> info@greentechnologys.com</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4 nav-links">
                        <h6>Trending Courses</h6>
                        <ul>
                            <li><a href="#">Hadoop training</a></li>
                            <li><a href="#">Angular JS training</a></li>
                            <li><a href="#">Selenium training</a></li>
                            <li><a href="#">Salesforce training</a></li>
                            <li><a href="#">Python training</a></li>
                            <li><a href="#">AWS training</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 nav-links">
                        <h6>Job Oriented Courses</h6>

                        <ul>
                            <li><a href="#">Data Science Training</a></li>
                            <li><a href="#">Devops training</a></li>
                            <li><a href="#">Web Designing training</a></li>
                            <li><a href="#">Mean Stack training</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 nav-links">
                        <h6>Top Interview Questions</h6>

                        <ul>
                            <li><a href="#">Javascript Questions</a></li>
                            <li><a href="#">Selenium Questions</a></li>
                            <li><a href="#">Linux Questions</a></li>
                            <li><a href="#">HTML Questions</a></li>
                            <li><a href="#">MySQL sQuestions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="btmfoot">
                <div class="payimg"><img src="../../content/themes/default/site/images/payment.png" alt="payment" /></div>    
                <div class="copyright">
                    © 2020 <a href="#">www.greenstechnologys.com.</a> All Rights Reserved.
                </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="../../content/themes/default/vendor/vendor.min.js"></script> 
<script src="../../content/themes/default/site/js/app.js"></script>
</body>
</html>